<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Confluent.Kafka" version="2.1.1-RC1" targetFramework="net471" />
  <package id="librdkafka.redist" version="2.1.1-RC1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NLog" version="4.5.6" targetFramework="net471" />
  <package id="NLog.Config" version="4.5.6" targetFramework="net471" />
  <package id="NLog.Schema" version="4.5.6" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
</packages>