<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- tickfrequency valid values between 1 and 10 inclusive -->
    <add key="tickfrequency" value="1"/>
    <add key="bootstrapserver" value="localhost:9092"/>
    <add key="groupid" value="kafka-dotnet-getting-started4"/>
    <!-- offset valid values are earliest or latest  -->
    <add key="offset" value="latest"/>
    <add key="topicname" value="test"/>
    <add key="connectionstring" value="YourDatabase ConnectionString"/>
    <add key="tablename" value="DataDump"/>
    <!-- sink valid values sql or entity -->
    <add key="sink" value="sql"/>
  </appSettings>
  <log4net>
    <root>
      <level value = "ALL"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Consumer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>